<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Este es el listado de los familiares en el sistema</h1>
  

    {% for family in familia %}
        <p>El familiar es: {{family.name}}</p>
        <p>Su edad es: {{family.age}}</p>
        <p>Su fecha de nacimiento es: {{family.birth}}</p>
        
        
        {% if family.married == True %}
            <p>Actualmente esta casado</p>
        {% else %}
            <p>Actualmente esta soltero</p>
        {% endif %}
        <br>
    {% endfor %}
</body>
</html>